<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" href= "{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <div class="card mx-auto col-6 bg-dark text-primary">
        <h1 class="card-title">Survery Results</h1>
        <p class="card-text">Name: {{session['name']}}</p>
        <p class="card-text">Location: {{session['location']}}</p>
        <p class="card-text">Do you like Python?: {{session['python']}}</p>
        <p class="card-text">Species: {{session['species']}}</p>
        <p class="card-text">Comments: {{session['comments']}}</p>


    </div>
</body>
</html>